 /* sidebar */
 .sidepanel  {
    width: 0px;
    position: fixed;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* glassmorphism */
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .sidepanel div,a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
  }
  
  /* .sidepanel a:hover {
    color: #f1f1f1;
  } */
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: balck;
    padding: 10px 15px;
    border: none;
  }
  
  .current-route-url {
    text-transform: capitalize;
  }