<div class="literature-font contact-card">
    <table>
        <tbody>
            <tr>
                <td>
                    <i class="fas fa-mobile-alt"></i>
                </td>
                <td class="p-l-20">+91 70128 17437</td>
            </tr>
            <tr>
                <td>
                    <i class="far fa-envelope"></i>
                </td>
                <td class="p-l-20">
                    sambathsatheesan@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fas fa-map-marker-alt"></i>
                </td>
                <td class="p-l-20">
                    <span>Cherthala, Alappuzha District,</span><br>
                    <span>Kerala, India.</span> 
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <i class="fab fa-linkedin"></i>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <i class="fab fa-github-square"></i>
                </td>
                <td></td>
            </tr> -->
        </tbody>
    </table>
</div>
